.game {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  &__row {
    display: flex;
    gap: 0.5rem;
  }

  &__letter {
    width: 6.1875rem;
    height: 6.1875rem;
    font-size: 5.625rem;
    text-align: center;
    align-items: center;
    background-color: #fffcee;
  }
}
